:root{
  /* Palette */
--green-color: #20ae44;
--red-color: #ff6124;
--yellow-color: #fae361;
--white-smoke-color: #f5f5f5;

--black-color:	#000000;
--white-color:  #ffffff;
--gray-white-color:	#dcdcdc;
--gray-dark-color: #42413d;
--gray-color:  #808080;
--silver-color	:#c0c0c0;
--magenta-dark-color:	#8b008b;
}

* {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, body> div {
  width: 100%;
  height: 100%;
}

body > div{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.main_map {
  position: relative;
  z-index : 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#map{
  width: 100%;
  height: 100%;
  position: relative;
}

.main_map .col_content{
  padding: 1rem;
  position:absolute;
  z-index : 999;
  top: 0;
  left : 0;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 90%;
  opacity: 0.9;
  margin-top : 4.5rem;
}

.box{
  -ms-overflow-style: none;/* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
  padding: 10px;
}
.box::-webkit-scrollbar{
 display:none;/* for Chrome, Safari, and Opera */
}
